# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os
import gmaps.datasets
from pprint import pprint

# Import API key
from api_keys import g_key
# g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [18]:
output_data_file = "../WeatherPy/output_data/cities.csv"
cities_df = pd.read_csv(output_data_file)
cities_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,bairiki,75,KI,1586153009,74,1.33,172.98,86.00,2.24
1,leh,79,IN,1586152770,21,34.17,77.58,27.27,1.66
2,esperance,90,AU,1586153010,49,-33.87,121.90,71.60,12.75
3,upernavik,96,GL,1586152985,80,72.79,-56.15,12.29,5.79
4,cape town,75,ZA,1586152725,93,-33.93,18.42,57.99,12.75
...,...,...,...,...,...,...,...,...,...
551,gornyye klyuchi,0,RU,1586153729,46,45.25,133.50,49.12,10.80
552,logan,90,US,1586153730,66,41.74,-111.83,57.20,4.70
553,bull savanna,52,JM,1586153730,84,17.89,-77.59,73.02,3.98
554,krasnofarfornyy,96,RU,1586153730,72,59.14,31.85,35.91,1.77
555,abu dhabi,4,AE,1586153696,48,24.47,54.37,84.20,4.70

In [19]:
# Country code of Namibia (NA) was imported as NaN, need to fix it by replacing 'NaN' with 'NA'
cities_df.replace(np.nan, 'NA', regex=True, inplace=True)

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [31]:
gmaps.configure(api_key=g_key)
locations = cities_df[['Lat', 'Lng']]
weights = cities_df['Humidity']
fig = gmaps.figure()
heatmap = gmaps.heatmap_layer(locations, weights=weights)
heatmap.point_radius = 20
#heatmap.max_intensity = 80
fig.add_layer(heatmap)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [32]:
cities_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,bairiki,75,KI,1586153009,74,1.33,172.98,86.00,2.24
1,leh,79,IN,1586152770,21,34.17,77.58,27.27,1.66
2,esperance,90,AU,1586153010,49,-33.87,121.90,71.60,12.75
3,upernavik,96,GL,1586152985,80,72.79,-56.15,12.29,5.79
4,cape town,75,ZA,1586152725,93,-33.93,18.42,57.99,12.75
...,...,...,...,...,...,...,...,...,...
551,gornyye klyuchi,0,RU,1586153729,46,45.25,133.50,49.12,10.80
552,logan,90,US,1586153730,66,41.74,-111.83,57.20,4.70
553,bull savanna,52,JM,1586153730,84,17.89,-77.59,73.02,3.98
554,krasnofarfornyy,96,RU,1586153730,72,59.14,31.85,35.91,1.77
555,abu dhabi,4,AE,1586153696,48,24.47,54.37,84.20,4.70

In [33]:
# drow any rows with null values
cities_df.dropna(axis=0, how='any', inplace=True)
cities_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,bairiki,75,KI,1586153009,74,1.33,172.98,86.00,2.24
1,leh,79,IN,1586152770,21,34.17,77.58,27.27,1.66
2,esperance,90,AU,1586153010,49,-33.87,121.90,71.60,12.75
3,upernavik,96,GL,1586152985,80,72.79,-56.15,12.29,5.79
4,cape town,75,ZA,1586152725,93,-33.93,18.42,57.99,12.75
...,...,...,...,...,...,...,...,...,...
551,gornyye klyuchi,0,RU,1586153729,46,45.25,133.50,49.12,10.80
552,logan,90,US,1586153730,66,41.74,-111.83,57.20,4.70
553,bull savanna,52,JM,1586153730,84,17.89,-77.59,73.02,3.98
554,krasnofarfornyy,96,RU,1586153730,72,59.14,31.85,35.91,1.77
555,abu dhabi,4,AE,1586153696,48,24.47,54.37,84.20,4.70

In [34]:
# A max temperature higher than 70
filtered_df = cities_df[cities_df['Max Temp'] > 70]
filtered_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,bairiki,75,KI,1586153009,74,1.33,172.98,86.00,2.24
2,esperance,90,AU,1586153010,49,-33.87,121.90,71.60,12.75
8,rikitea,0,PF,1586153012,67,-23.12,-134.97,75.43,10.22
10,taoudenni,0,ML,1586153012,20,22.68,-3.98,72.54,8.50
12,busselton,0,AU,1586152865,20,-33.65,115.33,82.00,8.48
...,...,...,...,...,...,...,...,...,...
542,turiacu,86,BR,1586153678,93,-1.66,-45.37,77.88,5.03
546,ewa beach,1,US,1586153680,83,21.32,-158.01,78.80,3.36
549,phayao,11,TH,1586153680,13,19.25,100.25,101.71,7.05
553,bull savanna,52,JM,1586153730,84,17.89,-77.59,73.02,3.98
555,abu dhabi,4,AE,1586153696,48,24.47,54.37,84.20,4.70

In [35]:
# A max temperature lower than 80 degree
filtered_df = filtered_df[filtered_df['Max Temp'] < 80]
filtered_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
2,esperance,90,AU,1586153010,49,-33.87,121.90,71.60,12.75
8,rikitea,0,PF,1586153012,67,-23.12,-134.97,75.43,10.22
10,taoudenni,0,ML,1586153012,20,22.68,-3.98,72.54,8.50
13,san patricio,11,MX,1586153013,68,19.22,-104.70,73.35,5.66
19,kapaa,1,US,1586152875,83,22.08,-159.32,75.20,6.93
...,...,...,...,...,...,...,...,...,...
514,oriximina,97,BR,1586153391,91,-1.77,-55.87,77.32,4.27
525,itoman,75,JP,1586153674,60,26.12,127.67,71.60,9.17
542,turiacu,86,BR,1586153678,93,-1.66,-45.37,77.88,5.03
546,ewa beach,1,US,1586153680,83,21.32,-158.01,78.80,3.36
553,bull savanna,52,JM,1586153730,84,17.89,-77.59,73.02,3.98

In [36]:
# Wind speed less than 10 mph
filtered_df = filtered_df[filtered_df['Wind Speed'] < 10]
filtered_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
10,taoudenni,0,ML,1586153012,20,22.68,-3.98,72.54,8.50
13,san patricio,11,MX,1586153013,68,19.22,-104.70,73.35,5.66
19,kapaa,1,US,1586152875,83,22.08,-159.32,75.20,6.93
25,ouadda,72,CF,1586153016,58,8.08,22.40,74.10,5.84
32,vaini,75,TO,1586153019,73,-21.20,-175.20,77.00,5.82
...,...,...,...,...,...,...,...,...,...
514,oriximina,97,BR,1586153391,91,-1.77,-55.87,77.32,4.27
525,itoman,75,JP,1586153674,60,26.12,127.67,71.60,9.17
542,turiacu,86,BR,1586153678,93,-1.66,-45.37,77.88,5.03
546,ewa beach,1,US,1586153680,83,21.32,-158.01,78.80,3.36
553,bull savanna,52,JM,1586153730,84,17.89,-77.59,73.02,3.98

In [37]:
# Zero cloudiness
filtered_df = filtered_df[filtered_df['Cloudiness'] == 0]
print(f"city count after filtering: {len(filtered_df)}")
filtered_df

city count after filtering: 13

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
10,taoudenni,0,ML,1586153012,20,22.68,-3.98,72.54,8.50
69,araouane,0,ML,1586153076,15,18.90,-3.53,76.32,8.79
180,arlit,0,NE,1586153198,12,18.74,7.39,79.81,6.15
232,cockburn town,0,TC,1586153159,64,21.46,-71.14,76.15,9.73
245,barra do garcas,0,BR,1586153312,78,-15.89,-52.26,75.18,0.40
249,namikupa,0,TZ,1586153313,81,-10.83,39.60,78.13,1.21
255,puerto baquerizo moreno,0,EC,1586153315,77,-0.90,-89.60,79.52,5.35
274,tres lagoas,0,BR,1586153318,73,-20.75,-51.68,71.17,5.17
306,moa,0,CU,1586153375,79,20.66,-74.94,71.47,7.78
336,sokolo,0,ML,1586153432,15,14.73,-6.12,77.67,8.41
359,darab,0,IR,1586153438,13,28.75,54.54,73.09,2.33
390,cassilandia,0,BR,1586153496,82,-19.11,-51.73,71.76,2.62
425,kindia,0,GN,1586153553,76,10.06,-12.87,73.58,2.24

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [38]:
# Store into variable named hotel_df.
# Add a "Hotel Name" column to the DataFrame.
hotel_df = filtered_df.copy()
hotel_df['Hotel Name'] = ""
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
10,taoudenni,0,ML,1586153012,20,22.68,-3.98,72.54,8.50,
69,araouane,0,ML,1586153076,15,18.90,-3.53,76.32,8.79,
180,arlit,0,NE,1586153198,12,18.74,7.39,79.81,6.15,
232,cockburn town,0,TC,1586153159,64,21.46,-71.14,76.15,9.73,
245,barra do garcas,0,BR,1586153312,78,-15.89,-52.26,75.18,0.40,
249,namikupa,0,TZ,1586153313,81,-10.83,39.60,78.13,1.21,
255,puerto baquerizo moreno,0,EC,1586153315,77,-0.90,-89.60,79.52,5.35,
274,tres lagoas,0,BR,1586153318,73,-20.75,-51.68,71.17,5.17,
306,moa,0,CU,1586153375,79,20.66,-74.94,71.47,7.78,
336,sokolo,0,ML,1586153432,15,14.73,-6.12,77.67,8.41,
359,darab,0,IR,1586153438,13,28.75,54.54,73.09,2.33,
390,cassilandia,0,BR,1586153496,82,-19.11,-51.73,71.76,2.62,
425,kindia,0,GN,1586153553,76,10.06,-12.87,73.58,2.24,

In [39]:
# geocoordinates
for index, row in hotel_df.iterrows():
    target_coordinates = f"{row['Lat']}, {row['Lng']}"
    target_radius = 5000
    target_type = "lodging"

    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    print(f"Retrieving results for: {row['City'].title()}, {row['Country']}")
    
    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    # print the response url, avoid doing for public github repos in order to avoid exposing key
    #print(response.url)

    # convert response to json
    hotel_data = response.json()
    #pprint(hotel_data)
    
    # extract results
    results = hotel_data['results']
          
    try:
          hotel_name = results[0]['name']
          print(f"Closest hotel is {results[0]['name']}.")
          hotel_df.loc[index, 'Hotel Name'] = hotel_name
    except Exception as e:
          print(f"Exception: {str(e)} skipping....")
          # put 'NaN' as hotel name, so that we can drop it later
          hotel_df.loc[index, 'Hotel Name'] = np.nan
    print("----------------------")

Retrieving results for: Taoudenni, ML
Exception: list index out of range skipping....
----------------------
Retrieving results for: Araouane, ML
Exception: list index out of range skipping....
----------------------
Retrieving results for: Arlit, NE
Closest hotel is HÃ´tel Telwa Bungalow.
----------------------
Retrieving results for: Cockburn Town, TC
Closest hotel is Osprey Beach Hotel.
----------------------
Retrieving results for: Barra Do Garcas, BR
Closest hotel is Hotel Pousada Tropical.
----------------------
Retrieving results for: Namikupa, TZ
Exception: list index out of range skipping....
----------------------
Retrieving results for: Puerto Baquerizo Moreno, EC
Closest hotel is Hotel los Algarrobos.
----------------------
Retrieving results for: Tres Lagoas, BR
Closest hotel is Druds Express Hotel.
----------------------
Retrieving results for: Moa, CU
Closest hotel is Renta en Divisa.
----------------------
Retrieving results for: Sokolo, ML
Exception: list index out of range skipping....
----------------------
Retrieving results for: Darab, IR
Closest hotel is Naghshe shapoor Hotel.
----------------------
Retrieving results for: Cassilandia, BR
Closest hotel is Hotel Rafa CassilÃ¢ndia.
----------------------
Retrieving results for: Kindia, GN
Closest hotel is LES EAUX DE KILISSI.
----------------------

In [40]:
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
10,taoudenni,0,ML,1586153012,20,22.68,-3.98,72.54,8.50,NaN
69,araouane,0,ML,1586153076,15,18.90,-3.53,76.32,8.79,NaN
180,arlit,0,NE,1586153198,12,18.74,7.39,79.81,6.15,HÃ´tel Telwa Bungalow
232,cockburn town,0,TC,1586153159,64,21.46,-71.14,76.15,9.73,Osprey Beach Hotel
245,barra do garcas,0,BR,1586153312,78,-15.89,-52.26,75.18,0.40,Hotel Pousada Tropical
249,namikupa,0,TZ,1586153313,81,-10.83,39.60,78.13,1.21,NaN
255,puerto baquerizo moreno,0,EC,1586153315,77,-0.90,-89.60,79.52,5.35,Hotel los Algarrobos
274,tres lagoas,0,BR,1586153318,73,-20.75,-51.68,71.17,5.17,Druds Express Hotel
306,moa,0,CU,1586153375,79,20.66,-74.94,71.47,7.78,Renta en Divisa
336,sokolo,0,ML,1586153432,15,14.73,-6.12,77.67,8.41,NaN
359,darab,0,IR,1586153438,13,28.75,54.54,73.09,2.33,Naghshe shapoor Hotel
390,cassilandia,0,BR,1586153496,82,-19.11,-51.73,71.76,2.62,Hotel Rafa CassilÃ¢ndia
425,kindia,0,GN,1586153553,76,10.06,-12.87,73.58,2.24,LES EAUX DE KILISSI

In [41]:
# drop rows with NaN hotel names
hotel_df.dropna(axis=0, how='any', inplace=True)
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
180,arlit,0,NE,1586153198,12,18.74,7.39,79.81,6.15,HÃ´tel Telwa Bungalow
232,cockburn town,0,TC,1586153159,64,21.46,-71.14,76.15,9.73,Osprey Beach Hotel
245,barra do garcas,0,BR,1586153312,78,-15.89,-52.26,75.18,0.40,Hotel Pousada Tropical
255,puerto baquerizo moreno,0,EC,1586153315,77,-0.90,-89.60,79.52,5.35,Hotel los Algarrobos
274,tres lagoas,0,BR,1586153318,73,-20.75,-51.68,71.17,5.17,Druds Express Hotel
306,moa,0,CU,1586153375,79,20.66,-74.94,71.47,7.78,Renta en Divisa
359,darab,0,IR,1586153438,13,28.75,54.54,73.09,2.33,Naghshe shapoor Hotel
390,cassilandia,0,BR,1586153496,82,-19.11,-51.73,71.76,2.62,Hotel Rafa CassilÃ¢ndia
425,kindia,0,GN,1586153553,76,10.06,-12.87,73.58,2.24,LES EAUX DE KILISSI

In [42]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [43]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))